# read the secrets from 1Password
# strip whitespace from the value
export POSTGRES_PASSWORD="op://{{ cookiecutter.project_name }}/POSTGRES_DB/password"
export POSTGRES_USER="op://{{ cookiecutter.project_name }}/POSTGRES_DB/username"
# use sandbox host for secrets generation
export POSTGRES_HOST=postgres
export DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/{{ cookiecutter.project_slug }}
export DJANGO_SECRET_KEY="op://{{ cookiecutter.project_name }}/DJANGO_SECRET_KEY/token"
