# read the secrets from 1Password 
# strip whitespace from the value and base64 encode it
AWS_ACCESS_KEY_SES_value=$(op read "op://{{cookiecutter.project_name}}/AWS_ACCESS_KEY_SES/token" | tr -d '[:space:]')
export AWS_ACCESS_KEY_SES=$(echo "$AWS_ACCESS_KEY_SES_value" | base64 -w 0)

AWS_SECRET_KEY_SES_value=$(op read "op://{{cookiecutter.project_name}}/AWS_SECRET_KEY_SES/token" | tr -d '[:space:]')
export AWS_SECRET_KEY_SES=$(echo "$AWS_SECRET_KEY_SES_value" | base64 -w 0)

POSTGRES_PASSWORD_value=$(op read "op://{{cookiecutter.project_name}}/POSTGRES_DB/password" | tr -d '[:space:]')
export POSTGRES_PASSWORD=$(echo "$POSTGRES_PASSWORD_value" | base64 -w 0)

DATABASE_URL_value=$(op read "op://{{cookiecutter.project_name}}/DATABASE_URL/token" | tr -d '[:space:]')
export DATABASE_URL=$(echo "$DATABASE_URL_value" | base64 -w 0)

DJANGO_SECRET_KEY_value=$(op read "op://{{cookiecutter.project_name}}/DJANGO_SECRET_KEY/token" | tr -d '[:space:]')
export DJANGO_SECRET_KEY=$(echo "$DJANGO_SECRET_KEY_value" | base64 -w 0)
