# read the secrets from 1Password
# strip whitespace from the value
export AWS_S3_ACCESS_KEY_ID="op://{{ cookiecutter.project_name }}/AWS_S3_ACCESS_KEY_ID/token"
export AWS_S3_SECRET_ACCESS_KEY="op://{{ cookiecutter.project_name }}/AWS_S3_SECRET_ACCESS_KEY/token"
export AWS_SES_ACCESS_KEY_ID="op://{{ cookiecutter.project_name }}/AWS_SES_ACCESS_KEY_ID/token"
export AWS_SES_SECRET_ACCESS_KEY="op://{{ cookiecutter.project_name }}/AWS_SES_SECRET_ACCESS_KEY/token"
export POSTGRES_PASSWORD="op://{{ cookiecutter.project_name }}/POSTGRES_DB/password"
export POSTGRES_USER="op://{{ cookiecutter.project_name }}/POSTGRES_DB/username"
# use sandbox host for secrets generation
export POSTGRES_HOST=postgres
export DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/{{ cookiecutter.project_slug }}
export DJANGO_SECRET_KEY="op://{{ cookiecutter.project_name }}/DJANGO_SECRET_KEY/token"
{%- if cookiecutter.mail_service == 'Mailgun' %}
# Mailgun api key
export MAILGUN_API_KEY="op://{{ cookiecutter.project_name }}/MAILGUN_API_KEY/token"{%- endif %}
