version: '3'
# below are the default ports, change the first port to avoid local conflicts
# and rename to docker-compose.override.yml
services:
  db:
    ports:
      - '5432:5432'
  django:
    ports:
      - '8000:8000'
  # front-end:
  #   ports:
  #     - '3000:3000'
  mailhog:
    ports:
      - '8025:8025'
  {% if cookiecutter.use_celery == 'y' %}
  flower:
    ports:
      - '5555:5555'
  {% endif %}
