apiVersion: v1
data:
  AWS_ACCESS_KEY_SES: CHANGEME
  AWS_SECRET_KEY_SES: CHANGEME
  POSTGRES_PASSWORD: CHANGEME
  DATABASE_URL: CHANGEME
  DJANGO_SECRET_KEY: CHANGEME
kind: Secret
metadata:
  name: secrets-config
  namespace: {{cookiecutter.project_dash}}-sandbox
type: Opaque
