apiVersion: v1
stringData:
  AWS_ACCESS_KEY_SES: $AWS_ACCESS_KEY_SES
  AWS_SECRET_KEY_SES: $AWS_SECRET_KEY_SES
  POSTGRES_PASSWORD: $POSTGRES_PASSWORD
  DATABASE_URL: $DATABASE_URL
  DJANGO_SECRET_KEY: $DJANGO_SECRET_KEY
kind: Secret
metadata:
  name: secrets-config
  namespace: $NAMESPACE
type: Opaque
