apiVersion: v1
stringData:
  AWS_S3_ACCESS_KEY_ID: $AWS_S3_ACCESS_KEY_ID
  AWS_S3_SECRET_ACCESS_KEY: $AWS_S3_SECRET_ACCESS_KEY
  AWS_SES_ACCESS_KEY_ID: $AWS_SES_ACCESS_KEY_ID
  AWS_SES_SECRET_ACCESS_KEY: $AWS_SES_SECRET_ACCESS_KEY
  POSTGRES_PASSWORD: $POSTGRES_PASSWORD
  DATABASE_URL: $DATABASE_URL
  DJANGO_SECRET_KEY: $DJANGO_SECRET_KEY
{%- if cookiecutter.mail_service == 'Mailgun' %}
  MAILGUN_API_KEY: $MAILGUN_API_KEY{%- endif %}
kind: Secret
metadata:
  name: secrets-config
type: Opaque
