apiVersion: apps/v1
kind: Deployment
metadata:
  name: django
spec:
  selector:
    matchLabels:
      app: django
      tier: backend
  template:
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: django
          command: ["daphne"]
          args: ["--bind", "0.0.0.0", "--port", "8000", "--ping-interval", "15", "--ping-timeout", "5", "config.asgi:application"]
