apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ cookiecutter.project_dash }}-sandbox

resources:
  - ../prod
  - ../mailhog

patches:
- target:
    kind: SealedSecret
    name: secrets-config
  path: secrets.yaml
- patch: |-
    - op: replace
      path: /spec/issuerRef/name
      value: letsencrypt-staging
    - op: replace
      path: /spec/dnsNames
      value:
        - api.sandbox.{{ cookiecutter.domain_name }}
        - k8s.sandbox.{{ cookiecutter.domain_name }}
  target:
    kind: Certificate
    name: cluster-cert
- patch: |-
    - op: replace
      path: /metadata/annotations/cert-manager.io~1cluster-issuer
      value: letsencrypt-staging
    - op: replace
      path: /spec/routes/0/match
      value: Host(`api.sandbox.{{ cookiecutter.domain_name }}`)
  target:
    kind: IngressRoute
    name: backend-ingress
- patch: |-
    - op: replace
      path: /metadata/annotations/cert-manager.io~1cluster-issuer
      value: letsencrypt-staging
    - op: replace
      path: /spec/routes/0/match
      value: Host(`k8s.sandbox.{{ cookiecutter.domain_name }}`)
  target:
    kind: IngressRoute
    name: k8s-ingress

configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
     - ENVIRONMENT="sandbox"

images:
  - name: backend
    newName: {{ cookiecutter.aws_account_id }}.dkr.ecr.{{ cookiecutter.aws_region }}.amazonaws.com/{{ cookiecutter.project_dash }}-backend
    newTag: latest
  - name: frontend
    newName: {{ cookiecutter.aws_account_id }}.dkr.ecr.{{ cookiecutter.aws_region }}.amazonaws.com/{{ cookiecutter.project_dash }}-frontend
    newTag: latest
