.card {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 1em;
  background-color: white;
  color: black;
  width: 30em;
  height: 20em;
  text-align: center;
  padding: 1.5em;
}
.heading {
  font-weight: bold;
  font-size: 1.35em;
}
.body {
  margin-top: 3em;
  font-size: 1.25em;
}
.footer {
  position: relative;
  top: 6em;
  background-color: rgb(132, 209, 132);
  padding: 1em;
  border-radius: 0.5em;
  color: white;
  font-weight: 600;
}
