apiVersion: v1
stringData:
  POSTGRES_PASSWORD: {{ cookiecutter.project_slug }}
  DATABASE_URL: postgresql://{{ cookiecutter.project_slug }}:{{ cookiecutter.project_slug }}@postgres/{{ cookiecutter.project_slug }}
  DJANGO_SECRET_KEY: local
kind: Secret
metadata:
  name: secrets-config
type: Opaque
