name: Create scaf project

on: [push]

jobs:
  build-and-push:
    environment: dev
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: sixfeetup/scaf:${{ github.sha }}

  setup:
    environment: dev
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
    - name: Install Requirements
      shell: bash
      run: |
        INSTALL_URL="https://raw.githubusercontent.com/sixfeetup/scaf/$GITHUB_REF_NAME/install.sh"
        export SCAF_SCRIPT_BRANCH=$GITHUB_REF_NAME
        echo "Downloading install script from $INSTALL_URL"
        curl -sSL $INSTALL_URL | sh

    - name: Create Project with Scaf
      shell: bash
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "github-actions-scaf-noreply@sixfeetup.com"
        IMAGE_TAG=$GITHUB_SHA
        echo "Running scaf with sixfeetup/scaf:$IMAGE_TAG"
        /usr/local/bin/scaf myproject --no-input
